{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
    <div class="youtube-videos">
        {% for video in videos %}
            <a href="/explore/{{ video['id'] }}" class="youtube-link">
                <div class="card" style="max-width: 200px;">
                    <img 
                        src="https://img.youtube.com/vi/${youtubeId}/hqdefault.jpg" 
                        alt="{{ video['name']}}" 
                        data-url="{{ video['link']}}" 
                        class="card-img-top youtube_thumbnail" 
                    >
                    <div class="youtube-info-container">
                        <p class="youtube-info">{{ video['name'] }}</p>
                        <p class="youtube-info">Categoria: <span>{{ video['category']}}</span></p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <script>
        function getYouTubeThumbnail(youtubeURL) {
            const youtubeId = youtubeURL
                .replace(
                    /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/,
                    '$7',
                );
            return `https://img.youtube.com/vi/${youtubeId}/hqdefault.jpg`
        }

        const thumbnails = document.querySelectorAll('img.youtube_thumbnail')
        thumbnails.forEach(thumbnail => {
            thumbnail.src = getYouTubeThumbnail(thumbnail.dataset.url)
        })
    </script>
{% endblock %}
