{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
    <div class="youtube-videos">
        {% for playlist in playlists %}
            <a href="/explore/playlist/{{ playlist['id'] }}" class="youtube-link">
                <div class="card" style="max-width: 200px;">
                    <img 
                        src="{{ playlist['image'] }}" 
                        alt="{{ playlist['name']}}" 
                        class="card-img-top youtube_thumbnail" 
                    >
                    <div class="youtube-info-container">
                        <p class="youtube-info">{{ playlist['name'] }}</p>
                        <p class="youtube-info">Categoria: <span>{{ playlist['categoria'] }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% for video in videos %}
            <a href="/explore/video/{{ video['id'] }}" class="youtube-link">
                <div class="card" style="max-width: 200px;">
                    <img 
                        src="https://img.youtube.com/vi/${youtubeId}/hqdefault.jpg" 
                        alt="{{ video['name']}}" 
                        data-url="{{ video['link']}}" 
                        class="card-img-top youtube_thumbnail" 
                    >
                    <div class="youtube-info-container">
                        <p class="youtube-info">{{ video['name'] }}</p>
                        <p class="youtube-info">Categoria: <span>{{ video['category']}}</span></p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
