{% extends "layout.html" %}

{% block title %}
    Perfil
{% endblock %}

{% block main %}
    {% if aboutUser %}
        <div class="content_edit_perfil" style="display:flex;justify-content:center;align-items:center;">
            <div class="card" style="width: 18rem;">
                <img src="{{ aboutUser['image'] }}" class="card-img-top" alt="{{ aboutUser['username']}}">
                <div class="card-body">
                <h3 class="card-title">{{ aboutUser['username'] }}</h3>
                <p class="card-text">{{ aboutUser['about'] }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Level <strong>{{ aboutUser['level'] }}</strong></li>
                    <button class="edit_perfil btn btn-primary">Edit</button>
                </ul>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            const btn_edit_perfil = document.querySelector('button.edit_perfil')
            const content = document.querySelector('.content_edit_perfil')

            btn_edit_perfil.addEventListener('click',() => {
                content.innerHTML = `
                    <form class="card" style="width: 18rem;" action="/perfil" method="post">
                        <img src="{{ aboutUser['image'] }}" class="card-img-top" alt="{{ aboutUser['username']}}">

                        <div class="card-body">
                            <div class="form-group">
                                <input class="form-control" name="image" type="url" maxLength="255" placeholder="Link of Image" value="{{ aboutUser['image'] }}">
                            </div>
                                
                            <div class="form-group">
                                <input class="form-control" name="username" placeholder="Username" type="text" value="{{ aboutUser['username'] }}">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" name="about" placeholder="Description" type="text" maxLength="255">{{ aboutUser['about'] }} </textarea>
                            </div>

                            <button type="submit" class="edit_perfil btn btn-primary">Edit</button>
                        </div>
                    </form>
                `;
            })

        </script>
    {% endif %}
    {% if message_error %}
        <div class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">>
            {{  message_error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}
