{% extends "layout.html" %}

{% block title %}
    View video
{% endblock %}

{% block main %}
    <div class="content-youtube-video">
        <iframe class="youtube-video" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-url="{{ video['link']}}" ></iframe>
        <!-- <button class="youtube-like-button">
            <img src="https://www.flaticon.com/svg/static/icons/svg/686/686370.svg" class="youtube-like-icon" alt="Like">
        </button> -->
    </div>
{% endblock %}
